---
import { Image } from 'astro:assets'
import FormattedDate from '../FormattedDate.astro'
import { cn } from 'src/utils/utils'
const { shortNews } = Astro.props

interface Props {
	shortNews: ArticleData[]
}
const response = shortNews?.map((article) => article)
---

<div class='pt-6'>
	{
		response.map(async (article) => {
			const articleData = article.attributes
			const heroImage = articleData.cover.data?.attributes.formats.medium.url
			const author = articleData.author.data.attributes.name
			const isMovies = articleData.category.data.attributes.slug.includes('movies-and-shows')

			const isLastItem = response.indexOf(article) === response.length - 1
			return (
				<article
					class={cn(
						'flex relative w-full mb-6 flex-col md:flex-row items-center',
						isLastItem && 'mb-0'
					)}
				>
					<div class='w-full h-full md:w-[400px] md:h-[200px]'>
						<div class='bg-pic-gradient w-full h-full rounded-lg'>
							<Image
								src={heroImage}
								loading='lazy'
								width={300}
								height={200}
								class='relative -z-10 object-cover rounded-lg w-full h-full md:w-[300px] md:h-[200px]'
								alt={`صورة ${articleData.title}`}
							/>
						</div>

						<div
							id='hero-name'
							style={{ clipPath: 'polygon(0 0, 100% 0, 100% 80%, 0 90%)' }}
							class='visible md:hidden absolute bottom-0 left-0 text-background-disabled dark:text-background-muted text-3xl font-extrabold'
						>
							أخبار قصيرة
						</div>
					</div>

					<div
						id='context'
						class='flex flex-col relative gap-2 px-6 py-1 rounded-lg w-full justify-between'
					>
						<div class='text-white text-2xl md:text-3xl font-black md:max-w-[90%] -mt-[30px] md:mt-0'>
							<span
								class={cn(
									'text-action-active dark:text-white md:bg-normal-gradient dark:bg-normal-gradient',
									isMovies && 'md:bg-movies-gradient text-movies-active dark:bg-movies-gradient'
								)}
								id='title'
							>
								{articleData.title}
							</span>
						</div>

						<div class='text-action-disabledLightText dark:text-action-disabled text-lg md:text-xl font-semibold md:max-w-[80%] mb-4 md:mb-0'>
							{articleData.description}
						</div>

						<div class='hidden md:flex flex text-action-disabledLightText dark:text-action-disabled text-sm'>
							<FormattedDate date={articleData.createdAt} className='flex-row' insidePost /> -{' '}
							{author}
						</div>

						<div
							id='hero-name'
							style={{ clipPath: 'polygon(0 0, 100% 0, 100% 80%, 0 90%)' }}
							class='hidden md:block rotate-90 absolute -left-0 ml-14 transform text-background-disabled dark:text-background-muted origin-top-left text-4xl font-extrabold'
						>
							أخبار قصيرة
						</div>
					</div>
				</article>
			)
		})
	}
</div>
<style>
	#title {
		position: relative;
		padding: 0 0.5em;
	}
</style>
