---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import TitlePage from '@/components/TitlePage'
import { siteConfig } from '@/data/site.config'
import Pagination from '@/components/Pagination'
import { fetchArticles, fetchCategories } from 'src/utils/fetchApiData'
import { Debug } from 'astro:components'
import TechnoDebug from '../../../components/TechnoDebug.astro'

let currentPage = 1

const categoriesData = await fetchCategories()

const allArticles = (await fetchArticles(currentPage, 5)).data.map((article) => {
	return article
})
// const activeCategory = categoriesData.data.map((category) => {
// 	const isActive = category.attributes.slug === Astro.params.category
// 	return isActive ? category.attributes.name : ''
// })
const activeCategory =
	categoriesData.data.find((category) => category.attributes.slug === Astro.params.category)
		?.attributes.name || ''

// const filteredArticles = categoriesData.data.map((category) => {
// 	return allArticles.filter(
// 		(article) => article.attributes.category.data.attributes.name === category.attributes.name
// 	)
// 	// return {
// 	// 	activeCategory: category.attributes.slug,
// 	// 	categoryName: category.attributes.name,
// 	// 	filteredArticles
// 	// }
// })
---

<!-- <BaseLayout title={activeCategory}>
	<TitlePage title={categoryName} />
	<ListCategories activeCategory={categoriesData} />
	<ListPosts filteredArticles={filteredArticles} />
	<Pagination currentPage={currentPage} totalPages={totalPages} />
	<div class='forceLTR max-w-screen-md'><Debug props={x} /></div>
</BaseLayout> -->
<BaseLayout title={activeCategory}>
	<ListCategories categoriesData={categoriesData} />
	<ListPosts articles={allArticles} />
	<!-- <Pagination currentPage={currentPage} totalPages={totalPages} /> -->
	<!-- <TechnoDebug data={categoriesData} /> -->
</BaseLayout>
