---
import { SOCIAL_LINKS_FOOTER } from '../constants/urls'
import HeaderLink from './HeaderLink.astro'
import GithubIcon from '@/components/icons/GithubIcon'
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import { siteConfig } from '../data/site.config'

const today = new Date()
---

<footer
	class='flex gap-4 text-center items-center w-full px-8 md:px-16 py-6 border-t-2 dark:border-t justify-center flex-col'
>
	<span> &copy; {today.getFullYear()} تكنودرويد. جميع الحقوق محفوظة</span>
	<span class='text-xl'
		><a href={`${siteConfig.liveWebAddress}/privacy-policy`}>سياسة الخصوصية</a></span
	>

	<div id='social-icons-footer' class='flex'>
		{
			SOCIAL_LINKS_FOOTER.map((network) => {
				const icon =
					network.icon === 'facebook' ? (
						<Facebook />
					) : network.icon === 'github' ? (
						<GithubIcon />
					) : network.icon === 'instagram' ? (
						<Instagram />
					) : null

				return (
					<HeaderLink
						class='mx-4'
						href={network.url}
						target={network.target}
						aria-label={network.name}
					>
						{icon}
					</HeaderLink>
				)
			})
		}
	</div>
</footer>
