---
import PostCard from '@/components/PostCard'

type Props = {
	FirstBig?: boolean
	filteredArticles?: ArticleData[]
	allArticles?: ArticleData[]
}

const { FirstBig = false, filteredArticles, allArticles } = Astro.props
const articlesToShow = filteredArticles ? filteredArticles : allArticles
// const thirdArticle = articlesToShow && articlesToShow[3]

// This is the component of the ALL ARTICLES category in the home page

// export const prerender = true
---

<section
	class={`grid grid-cols-1 md:grid-cols-2  gap-8  lg:grid-cols-3
	mt-3 
		${FirstBig && 'lg:[&>*:first-child]:col-span-2'}`}
>
	{
		articlesToShow?.map(async (article) => {
			const id = article.id
			const articleData = article.attributes
			return (
				<>
					<PostCard
						id={id}
						title={articleData.title}
						description={articleData.description}
						pubDate={articleData.createdAt}
						category={articleData.category.data.attributes.name}
						slug={articleData.slug}
						heroImage={articleData.cover.data?.attributes.formats.medium.url}
					/>
				</>
			)
		})
	}
</section>
