---
import PostCard from '@/components/PostCard'

type Props = {
	FirstBig?: boolean
	articles?: ArticleData[]
}

const { FirstBig = false, articles } = Astro.props

const response = articles?.map((article) => article)
---

<section
	class={`grid grid-cols-1 md:grid-cols-2 gap-8 lg:grid-cols-3 ${FirstBig && 'lg:[&>*:first-child]:col-span-2'}`}
>
	{
		response?.map(async (article) => {
			const id = article.id
			const articleData = article.attributes
			return (
				<PostCard
					id={id}
					title={articleData.title}
					description={articleData.description}
					pubDate={articleData.createdAt}
					category={articleData.category.data.attributes.name}
					slug={articleData.slug}
					heroImage={articleData.cover.data?.attributes.formats.medium.url}
					author={articleData.author.data.attributes.name}
					isShortNews={articleData.isShortNews}
				/>
			)
		})
	}
</section>
