---
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'
import { Debug } from 'astro:components'
import { fetchArticles } from 'src/utils/fetchApiData'

type Props = {
	FirstBig?: boolean
	filteredArticles: Article[]
}

const { FirstBig = false, filteredArticles } = Astro.props
// const allArticles = (await fetchArticles()).map((article) => {
// 	return article
// })

// This is the component of the ALL ARTICLES category in the home page
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		filteredArticles.map(async (article) => {
			const id = article.id
			const articleData = article.attributes
			return (
				<>
					<PostCard
						id={id}
						title={articleData.title}
						description={articleData.description}
						pubDate={articleData.createdAt}
						category={articleData.category.data.attributes.name}
						slug={articleData.slug}
						heroImage={articleData.cover.data?.attributes.formats.medium.url}
					/>
					<section />
				</>
			)
		})
	}
</section>
