---
import PostCard from '@/components/cards/PostCard'

type Props = {
	FirstBig?: boolean
	articles?: ArticleData[]
}

const { FirstBig = false, articles } = Astro.props

const response = articles?.map((article) => article)
---

<section
	class={`grid grid-cols-1 md:grid-cols-2 gap-8 lg:grid-cols-3 ${FirstBig && 'lg:[&>*:first-child]:col-span-2'}`}
>
	{
		response?.map(async (article) => {
			const id = article.id
			const articleData = article.attributes
			const categoryName = articleData.category.data.attributes.name
			const heroImage = articleData.cover.data?.attributes.formats.medium.url
			const author = articleData.author.data.attributes.name
			const isMovies = articleData.category.data.attributes.slug.includes('movies-and-shows')
			return (
				<PostCard
					id={id}
					title={articleData.title}
					description={articleData.description}
					pubDate={articleData.createdAt}
					category={categoryName}
					slug={articleData.slug}
					heroImage={heroImage}
					author={author}
					isShortNews={articleData.isShortNews}
					isMovies={isMovies}
				/>
			)
		})
	}
</section>
