---
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'
import { fetchArticles } from 'src/utils/fetchApiData'
import { Debug } from 'astro:components'

type Props = {
	FirstBig?: boolean
}

const { FirstBig = false } = Astro.props
const allArticles = (await fetchArticles()).map((article) => {
	return article
})
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		allArticles.map(async (article) => {
			const id = article.id
			const articleData = article.attributes

			return (
				<PostCard
					id={id}
					title={articleData.title}
					description={articleData.description}
					pubDate={articleData.createdAt}
					category={articleData.category.data.attributes.name}
					slug={articleData.slug}
					heroImage={articleData.cover.data?.attributes.formats.medium.url}
				/>
			)
		})
	}
	<Debug test={allArticles} />
</section>
