---
import { Image } from 'astro:assets'

const { similarArticles } = Astro.props
---

<div id='similar-articles-container' class='flex flex-col gap-4'>
	{
		similarArticles.slice(0, 3).map((article: ArticleData) => {
			return (
				<div class='flex gap-x-6 md:gap-x-12 rounded-lg p-4 md:p-8 shadow-xl hover:shadow-2xl transition-shadow duration-300 border border-white/5 dark:bg-black backdrop-blur-md'>
					<a href={`/articles/${article.id}`} class='w-[200px] h-[100px] flex'>
						<Image
							class='max-w-[120px] md:max-w-auto md:min-w-[200px] rounded-lg'
							id='image'
							src={article.attributes.cover.data.attributes.formats.small.url}
							alt={`صورة ${article.attributes.title}`}
							width={200}
							height={200}
						/>
					</a>

					<div id='details' class='flex flex-col justify-center md:justify-between'>
						<a id='title' href={`/articles/${article.id}`} class=''>
							<span class='text-md md:text-xl font-semibold'>{article.attributes.title}</span>
						</a>
						<a id='description' href={`/articles/${article.id}`} class='hidden md:block'>
							<p class='text-sm font-normal'>{article.attributes.description}</p>
						</a>
					</div>
					<div
						class={`w-40 h-24 absolute bg-[#7D4B94] dark:bg-[#7b3dad] rounded-full blur-2xl opacity-50 -z-50 right-8 top-4`}
					/>
				</div>
			)
		})
	}
</div>
